<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	<select id="maxNum" resultType="int">
		select nvl(max(num),0) from board
	</select>
	
	<insert id="insertData" parameterType="com.jdbc.dto.BoardDTO">
		insert into board(num,name,pwd,email,subject,content,ipAddr,hitCount,created)
		values (#{num},#{name},#{pwd},#{email},#{subject},#{content},#{ipAddr},0,sysdate)
	</insert>
	
	<select id="getDataCount" parameterType="hashMap" resultType="int">
		<!-- null값이면 0으로 -->
		select nvl(count(*),0) from board
		where ${searchKey} like '%' || #{searchValue} || '%'  
	</select>
	
	<select id="getLists" parameterType="hashMap" resultType="com.jdbc.dto.BoardDTO">
		select * from (
			select rownum rnum,data.* from (
			select num,name,subject,hitCount,to_char(created,'YYYY-MM-DD') created
			from board where ${searchKey} like '%' || #{searchValue} || '%'
			order by num desc) data)
<![CDATA[
	where rnum >= #{start} and rnum <= #{end}
]]>		
	</select>
	
	<select id="getReadData" parameterType="int" resultType="com.jdbc.dto.BoardDTO">
		select num,name,pwd,email,subject,content,ipAddr,hitCount,created
		from board where num = #{num}
	 </select>
	
	<update id="updateHitCount" parameterType="int">
		update board set hitCount = hitCount + 1 where num = #{num};
	</update>
		
	<update id="updateData" parameterType="com.jdbc.dto.BoardDTO">
		update board set name=#{name},pwd=#{pwd},email=#{email},subject=#{subject},content=#{content}
		where num = #{num}
	</update>	
		
	<delete id="deleteData" parameterType="int"	>
		delete board num = #{num}
	</delete>
		
</mapper>